.App {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  height: 40px;
  width: 363px;
}

.products-header {
  text-align: center;
  line-height: 60%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-auto-rows: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
